<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport content=" width="device=width," initial-scale='1.0"' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
      .container {align-items: center; font-family: 'Roboto', sans-serif; padding: 15px; border: 1px solid #e9ecef;
      width: 450px; height: 250px; border-radius: 5px; } .bold{ font-weight:500;}
    </style>
  </head>
  <body>
    <div>
      <h1>New Message</h1>
    </div>
    <div class="container">
      <p class="bold"> Name</p>
      <p>{{name}}</p>
      <p class="bold">Email</p>
      <p>{{email}}</p>
      <p class="bold">Subject</p>
      <p>{{subject}}</p>
      <p class="bold">Message</p>
      <p>{{message}}</p>
    </div>
  </body>
</html>