@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


body {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin: 100px auto;
    max-width: 500px;
    padding-bottom: 100px;
  }
  
  .card {
    font-size: 164px;
    width: 300px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
      0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
      0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
  }
  
  .card-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: -120px;
  }
  
  .splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: path(
      "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
    );
  }

  .showMobileNav 
      {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #F3F4F6;
          position: absolute;
          top:0;
          right: 0;
          z-index: 0;
          gap: 40px;
          width: 100%;
          height: 100vh;
      } 
      .showList{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 10;
      }
      @media only screen and (min-width: 1024px) {
          .showMobileNav{
            display: none;
        }
          .showList{
            background: black;
            display: flex;
            align-items: center;
        }

  }
  

@layer base {
    body {
      @apply text-gray-900 bg-gray-50 dark:bg-black dark:text-gray-100;
      @apply min-h-screen;
    }

    navbar {
        @apply dark:bg-black
    }
    
    #job-title{
      @apply dark:text-white;
    }

    ::selection {
      @apply text-white bg-indigo-500;
    }

    button {
        @apply dark:bg-white dark:text-black
    }
    
    h1,h2,h3,h4,h5{
        @apply dark:text-white
    }
    
    #navbar{
        @apply dark:text-white dark:bg-black
    }

    #navbar-hr{
        @apply dark:bg-black dark:h-0 dark:w-[0]
    }

    #skill-container{
        @apply dark:bg-[#22223b] dark:border-none dark:text-white
    }

    #hamburger-btn{
        @apply dark:bg-black dark:text-white
    }

    .showMobileNav{
        @apply dark:bg-black
    }
    #container-contact{
      @apply dark:bg-[#22223b] dark:border-none
    }
  }